*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
0 - 600px:    Phone
600 - 900px:  Tablet portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: This is where our normal styles apply
1800px +      Big Desktops
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-contact {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.homeland {
  min-height: 100vh;
  background-image: url(../assets/img/LANDING\ PAGE.png);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 105px 70px 108px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.031372549);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  text-decoration: none;
  margin-left: 10px;
}

.contact-btn {
  background-color: #2d62ce;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 177.1px;
  height: 60px;
  top: 31px;
  left: 1167px;
  gap: 0px;
  border: 0.7px 0px 0px 0px;
  opacity: 0px;
}
.contact-btn:hover {
  background-color: rgba(45, 98, 206, 0.6980392157);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 105px 0px 108px;
}
@media (max-width: 56.25em) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.content {
  max-width: 50%;
}
@media (max-width: 56.25em) {
  .content {
    max-width: 100%;
    text-align: center;
  }
}
.content .tag {
  background-color: #dbe1f0;
  color: #2d62ce;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.content .cs {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content .cs .fire {
  background-color: white;
  border-radius: 45px;
  position: relative;
  top: 6px;
  right: 4px;
}
@media (max-width: 37.5em) {
  .content .cs {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }
}
.content h1,
.content .heading-primary {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 64px;
  color: #000;
  margin-bottom: 0.938rem;
}
@media (max-width: 37.5em) {
  .content h1,
  .content .heading-primary {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
}
.content h1 span,
.content .heading-primary span {
  display: block;
}
.content p {
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #232323;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 20px;
  white-space: nowrap;
}
.content p span {
  display: block;
}
.content .sub-text {
  font-family: Poppins;
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0064be;
}
.content .email-form {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 1px;
  width: 604px;
  height: 80px;
  border-radius: 10px;
}
@media (max-width: 37.5em) {
  .content .email-form {
    width: 100%;
  }
}
.content .email-form input {
  flex: 1;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: transparent;
  padding: 20px;
}
.content .email-form button {
  background-color: #2d62ce;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: 3px;
  right: 3px;
  transition: background-color 0.3s;
  width: 169.86px;
  height: 70px;
  padding: 15px 16px 15px 16px;
  border: 0.7px;
  opacity: 0px;
}
.content .email-form button:hover {
  background-color: rgba(45, 98, 206, 0.6980392157);
}
.content .privacy {
  font-size: 16px;
  color: #232323;
}
.content .social-icons {
  padding: 5px;
  display: flex;
  gap: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.content .social-icons a img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .content .social-icons a img {
    width: 30px;
    height: 30px;
    gap: 15px;
  }
}
@media (max-width: 56.25em) {
  .content .social-icons {
    margin-top: 10px;
  }
}

.image-section {
  position: relative;
  left: 102px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  overflow: hidden;
}
.image-section .phone-image {
  position: relative;
  z-index: 2;
  height: 85%;
  max-height: 814px;
  object-fit: contain;
  margin-bottom: 0;
}
.image-section .mobile {
  position: absolute;
  z-index: 1;
  bottom: 78px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.tag {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 40px;
}
.tag .mouse-icon {
  position: relative;
  width: 25px;
  left: 43px;
  top: 23px;
}

.service-section {
  background-color: linear-gradient(319.24deg, #2d62ce -1.45%, rgba(255, 255, 255, 0) 101.68%);
  text-align: center;
  padding: 2rem;
}
@media (min-width: 112.5em) {
  .service-section {
    margin-bottom: 35rem;
  }
}
@media (max-width: 75em) {
  .service-section {
    margin-bottom: 2rem;
  }
}
.service-section .title {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  line-height: 90px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #232323;
}
@media (max-width: 56.25em) {
  .service-section .title {
    margin-bottom: 3rem;
  }
}
.service-section .description {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 3rem;
}
@media (max-width: 37.5em) {
  .service-section .description {
    font-size: 16px;
  }
}
.service-section .description span {
  display: block;
}
.service-section .waiting-list-link {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: inline-block;
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 2rem;
}
.service-section .email-form {
  width: 1023px;
  height: 84px;
  gap: 0px;
  border-radius: 10px;
  border: 0.7px;
  opacity: 0px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 6rem;
  border: 0.7px solid rgba(102, 102, 102, 0.968627451);
  border-radius: 10px;
}
@media (max-width: 37.5em) {
  .service-section .email-form {
    width: 30rem;
  }
}
.service-section .email-form .email-input {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  border-radius: 50px 0 0 50px;
  width: 35rem;
  outline: none;
}
.service-section .email-form .submit-button {
  position: relative;
  left: 199px;
  width: 240px;
  height: 78px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #2d62ce;
  border: none;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.service-section .email-form .submit-button:hover {
  background-color: rgba(45, 98, 206, 0.6980392157);
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background-color: #f2f4f6;
}
.features__content {
  flex: 1;
}
.features__content span {
  display: block;
}
.features__content h2 {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 50px;
  color: #191a15;
}
.features .feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}
.features .feature__icon {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.features .feature__icon:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.features .feature__icon img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  transform: scale(1);
  height: 100%;
}
.features .feature__text h3 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191a15;
  margin-bottom: 15px;
}
.features .feature__text h3 span {
  display: block;
}
.features .feature__text p {
  color: #424242;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.features__images {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}
.features__images .features__images {
  display: flex;
  justify-content: center;
}
.features__images .features__images img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact {
  text-align: center;
  background-color: linear-gradient(319.24deg, #2d62ce -1.45%, rgba(255, 255, 255, 0) 101.68%);
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
}
.contact h2 {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  line-height: 90px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 4rem;
  margin-bottom: 15px;
  color: #232323;
}
.contact p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #232323;
  margin-bottom: 3rem;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.contact p span {
  display: block;
}

.form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container .form-group {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.form-container .form-group .input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-container .form-group .input-field label {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #262626;
}
.form-container .form-group .input-field input {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: #262626;
  width: 442.86px;
  height: 70px;
}
.form-container .form-group .input-field input:focus {
  outline: none;
  border-color: #2d62ce;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
.form-container .form-group .input-field input::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  color: rgba(102, 102, 102, 0.5019607843);
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-container .message-label {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-container .input-message {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.form-container .input-message textarea {
  display: flex;
  justify-self: center;
  width: 932px;
  height: 166px;
  padding: 15px 16px 15px 16px;
  border-radius: 10px;
  border: 0.7px solid #ddd;
  opacity: 0px;
  font-size: 18px;
  color: #262626;
}
.form-container .input-message textarea:focus {
  outline: none;
  border-color: #2d62ce;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
.form-container .input-message textarea::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  color: rgba(102, 102, 102, 0.5019607843);
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-container .submit-button {
  align-self: flex-start;
  padding: 15px 16px 15px 16px;
  background: #2d62ce;
  color: #fff;
  font-size: 16px;
  border: none;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.form-container .submit-button:hover {
  background: #0056b3;
}

.down {
  padding-top: 1rem;
  padding-left: 5rem;
  margin-bottom: 13rem;
}
@media (min-width: 112.5em) {
  .down {
    margin-top: 2rem;
  }
}
@media (max-width: 37.5em) {
  .down {
    margin-top: -23rem;
  }
}

.footer {
  background-color: rgba(243, 244, 249, 0.6);
  position: absolute;
  font-family: Arial, sans-serif;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .footer .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer .footer-content .contact-info {
  flex: 1;
}
.footer .footer-content .contact-info .heading {
  font-size: 16px;
  color: #000000;
  margin-bottom: 1.5rem;
}
.footer .footer-content .contact-info .description {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer .footer-content .contact-info span {
  display: block;
}
@media (max-width: 37.5em) {
  .footer .footer-content .contact-info .heading {
    font-size: 14px;
  }
  .footer .footer-content .contact-info .description {
    font-size: 1rem;
  }
}
.footer .footer-content .contact-details {
  display: flex;
  gap: 70px;
  align-items: flex-start;
  position: relative;
  top: 3rem;
  left: 18rem;
}
@media (max-width: 75em) {
  .footer .footer-content .contact-details {
    gap: 30px;
  }
}
@media (max-width: 37.5em) {
  .footer .footer-content .contact-details {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.footer .footer-content .contact-details .detail-item .detail-heading {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.25rem;
  position: static;
}
@media (max-width: 37.5em) {
  .footer .footer-content .contact-details .detail-item .detail-heading {
    font-size: 0.875rem;
  }
}
.footer .footer-content .contact-details .detail-item span {
  display: block;
  margin-top: 8px;
}
.footer .footer-content .contact-details .detail-item .detail-value {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.footer .footer-content .contact-details .detail-item .detail-value a {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 37.5em) {
  .footer .footer-content .contact-details .detail-item .detail-value {
    font-size: 0.875rem;
  }
}
.footer .footer-content .contact-details .detail-item .detail-value::before {
  color: #333;
}

/*# sourceMappingURL=main.css.map */
