*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-contact {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #f0f3fb;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  text-decoration: none;
  margin-left: 10px;
}

.contact-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.contact-btn:hover {
  background-color: #2c2c2c;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f0f3fb;
  min-height: 100vh;
}

.content {
  max-width: 50%;
  margin-bottom: 50px;
}
.content .tag {
  background-color: #cbe0ff;
  color: #3498db;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.content .cs {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
}
.content h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 15px;
}
.content h1 span {
  display: block;
}
.content p {
  color: #232323;
  margin-bottom: 20px;
  line-height: 1.6;
}
.content p span {
  display: block;
}
.content .sub-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0064be;
}
.content .email-form {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #232323;
  padding: 1px;
  width: 450px;
  border-radius: 200px;
}
.content .email-form input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  padding: 20px;
}
.content .email-form button {
  background-color: #000;
  color: white;
  width: 100px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
.content .email-form button:hover {
  background-color: #2d3a42;
}
.content .privacy {
  font-size: 16px;
  color: #232323;
}
.content .social-icons {
  padding: 5px;
  display: flex;
  gap: 15px;
}
.content .social-icons a img {
  width: 35px;
  height: 34px;
  cursor: pointer;
}

.image-section {
  position: relative;
  max-width: 40%;
  margin-top: 50px;
}
.image-section .phone-image {
  width: 100%;
}
.image-section .mobile {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.tag {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 40px;
}
.tag .mouse-icon {
  position: relative;
  width: 25px;
  left: 43px;
  top: 23px;
}

.service-section {
  text-align: center;
  padding: 2rem;
}
.service-section .title {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #232323;
}
.service-section .description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #232323;
}
.service-section .description span {
  display: block;
}
.service-section .waiting-list-link {
  display: inline-block;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 2rem;
}
.service-section .email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 50px;
}
.service-section .email-form .email-input {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px 0 0 50px;
  width: 35rem;
  outline: none;
}
.service-section .email-form .submit-button {
  padding: 1rem;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 50px;
  width: 165px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.service-section .email-form .submit-button:hover {
  background-color: #333;
}

.large {
  display: block;
  position: relative;
  margin-top: 21rem;
}
.large .lgb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.large .lgb .lgb-img {
  width: 100%;
}

.down {
  margin-top: 45rem;
}

.footer {
  background-color: #f9f9f9;
  padding: 2rem;
  font-family: Arial, sans-serif;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer-content .contact-info {
  flex: 1;
}
.footer .footer-content .contact-info .heading {
  font-size: 16px;
  color: #000000;
  margin-bottom: 0.5rem;
}
.footer .footer-content .contact-info .description {
  font-size: 1.2rem;
  color: #232323;
  line-height: 1.5;
}
.footer .footer-content .contact-info span {
  display: block;
}
.footer .footer-content .contact-details {
  display: flex;
  gap: 70px;
  position: absolute;
  align-items: flex-start;
}
.footer .footer-content .contact-details .detail-item .detail-heading {
  font-size: 1rem;
  position: relative;
  left: 40rem;
  top: 0;
  color: #000000;
  margin-bottom: 0.25rem;
}
.footer .footer-content .contact-details .detail-item span {
  display: block;
  margin-top: 8px;
}
.footer .footer-content .contact-details .detail-item .detail-value {
  position: relative;
  left: 40rem;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.footer .footer-content .contact-details .detail-item .detail-value::before {
  color: #333;
}

/*# sourceMappingURL=main.css.map */
